*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.welcome{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    
}
.welcome-para{
   flex-basis: 50%;
   
}
.welcome-para h6{

    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(128, 129, 131);
}
.welcome-para h3{

font-family: "Ubuntu",Tahoma,Geneva,sans-serif;;
font-size: 24px;
letter-spacing: 1px;
line-height: 1.40em;

}
.welcome-para p{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
font-size: 18px;
font-family: "Ubuntu",Tahoma,Geneva,sans-serif;
line-height: 2em;
}

.welcome-para a{
    text-decoration: none;
    border: 1px solid rgb(8, 8, 22);
   font-size: 17px;
   padding: 7px;   
  margin: 20px;
  border-radius:  50px;
}
.welcome-para .view{
    color: rgb(133, 133, 247);
 
}
.welcome-para .view:hover{
    background-color:#01D6A3;
    color: white;
}
.welcome-para .contact{
    color: white;
    background-color: #01D6A3;
 
}
.welcome-para .contact:hover{
    background-color: rgb(89, 89, 245);
}
.welcome-image{
    flex-basis: 40%;
    overflow: hidden;
    padding:  30px;
    margin: 10px;

}
.welcome-image img{
    width: 100%;
    
    overflow: hidden;
    object-fit: cover;
    
   
   

}
@media (max-width:700px)
{
    .welcome{
        justify-content: space-around;
       flex-direction: column;
       padding: 10px;
    }
    
    .welcome-para h6{
    
        font-size: 15px;
        
    }
    .welcome-para h3{
    
    
    font-size: 20px;
   
    
    }
    .welcome-para p{
        font-size: 15px;
    }
    
    .welcome-para a{
       
       font-size: 12px;
       
    }
    
    
    .welcome-image img{
        object-fit: contain;
     
       
    }

}