*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.top
{
   

    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    background: rgb(114,238,232);
background: radial-gradient(circle, rgba(114,238,232,1) 0%, rgba(252,70,107,1) 100%);
    font-weight: 100;
    font-size: 18px;
    

}
.top a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
@media(max-width:700px)
{
    .top {
      flex-direction: column;
      align-items: center;
}
.top h5,
a 
{
    font-size: 12px;
}
.mob,
.mail{
    display: none;
}
}



.header
{
    min-height: 100vh ;
    width: 100%;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
.logo
{
    width: 100px;
    height:80px;

 
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
} 
.nav-links
{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a
{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after
{
    content:'';
    width:0%;
    height:2px;
    background-color: gold;
    display: block;
    margin: auto;
    transition: .5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box
{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn
{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    border: 1px solid #01d6a3;
    background-color:#01d6a3;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width:700px){
    .header
{
    min-height: 50vh ;
    

}
.header img, .logo
{
    width: 50px;
    height:50px;
    
}  
    .text-box  h1{
        font-size: 20px;
    }
    
    .nav-links ul li{
        display: block;
   
    }
    .nav-links ul li a{
        color:#fff;
        font-weight: 600;
        font-size: 20px;
    }
    .nav-links{
        position: fixed;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(13,116,238,1) 100%);
    
        height: 100vh;
        width: 200px;
        text-align: left;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
  
    }
    .nav-links ul{
        padding: 30px;
        
    }
}
.current-page {
    border-bottom: 2px solid gold;


}  
.current-page:hover {
    color: peru;
}
.sub-header
{
    height: 30vh;
    width: 100%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
    text-align: center;
    color: #fff;
    position: sticky;
}
.sub-header h1
{
    margin-top: 40px;
    color: #222;
    font-size: 30px;
    font-weight: 600;
   
}

.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.eye-carebtn{
    text-decoration: none;
        display: block;
        position: fixed;
        top: 50%;
        right: 0;
        color: #fff;
        z-index: 1;
        background-color: rgb(73, 199, 73);
        font-size: 22px;
        line-height: 26px;
        transform: rotate(-90deg) translateY(-50%) translateX(50%);
        border-top-left-radius: 7px;
        padding: 10px 20px;
        border-top-right-radius: 7px;
        transform-origin: right center;
        border: 1px solid #548bff;
    }
    .eye-carebtn a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .eye-carebtnn{
        display: block;
       position: fixed;
       bottom: 0px;
       right: 0px;
       
       text-align: right;
       z-index: 10;
       
       transform: rotate(360deg) translateY(0%) translateX(1%);
       
       border-top-right-radius: 7px;
       border-top-left-radius: 7px;
       padding: 10px 20px;
       line-height: 26px;
     
       background-color: rgb(73, 199, 73);
    }

    .eye-carebtnn:hover{
        animation: shake .68s linear infinite;
    }
    @keyframes shake 
    {
        0%{
            transform: translateX(0%);
        }
        25%{
            transform: translateX(-10%);
        }
        50%{
            transform: translateX(10%);
        }
        100%{
            transform: translateX(0%);
        }
    }



        .eye-carebtnn a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }

        @media (max-width:700px)
        {


          .eye-carebtn a{
               
                font-size: 12px;
               
               
            }
    .eye-carebtnn a{
       
               
                font-size: 12px;
               
               
            }
        }







.gallery
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px; 
    font-family: 'Poppins', sans-serif; 
   
}
.gallery h1

{
font-size: 30px;
    
}
.gallery p
{
    font-size: 25px;
}
.gallery-col
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
   
}
.gallery-col img{
    width: 100%;
    display: block;

}
.layer
{
   background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover{
    background: rgba(112, 223, 218, 0.7);
 
}
.layer  h3{
    width: 100%;
    font-weight: 500;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,233,253,1) 50%, rgba(252,176,69,1) 100%); font-size: 26px;
    font-weight: 600;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: .5s;
}
.layer:hover h3{
    bottom: 39%;
    opacity: 1;
}
/* gallery yt */



 h3{
    text-align: center;
    padding-bottom: 0px;
    color: black;
    font-size: 30px;
}
 .yt
{
    /* margin:50px 500px 0; */
    display: flex;
   padding: 30px;
    
    justify-content: center;
    
} 


iframe{
    display:flex;
  

}

@media (max-width:700px) {
    .row
    {
       flex-direction: column;
    }
    
    
    
    .yt{
        position: relative;
        width: 100%;
    
        overflow: hidden;
        align-items: center;
        flex-direction: column;

    }
    .yt video{
        /* height: 300px; */
        padding: 10px;
    }
    .yt iframe{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}


/* footer */
.footer
{
    background-color: #FFDAE0;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4
{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.footer p{
    font-weight: 400;
    padding:0 60px;
    color: #222;

}
.footer span{
    font-weight: bold;
}
@media (max-width:700px){
    .footer p{
   
       text-align: justify;
       
    }

}


@media (max-width:700px) {
.gallery h1{
    font-size: 23px;
} 
.gallery p{

    font-size: 16px;
}  
.eye-carebtn a{
    font-size: 12px;

}


}
